In [394]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [395]:
df_fact_events = pd.read_csv('datasets/fact_events.csv')
df_dim_stores = pd.read_csv('datasets/dim_stores.csv')
df_dim_products = pd.read_csv('datasets/dim_products.csv')
df_dim_campaigns = pd.read_csv('datasets/dim_campaigns.csv')

In [396]:
df_fact_events.head(3)

,event_id,store_id,campaign_id,product_code,base_price(before_promo),quantity_sold(before_promo),promo_type,base_price(after_promo),quantity_sold(after_promo)
0,8481be,STCHE-1,CAMP_DIW_01,P04,290,327.0,25% OFF,217,287
1,20618e,STCHE-3,CAMP_SAN_01,P04,370,379.0,BOGOF,185,1622
2,f30579,STBLR-9,CAMP_DIW_01,P02,860,337.0,33% OFF,576,488

In [397]:
df_dim_stores.head(3)

  store_id        city
0  STTRV-0  Trivandrum
1  STMDU-3     Madurai
2  STHYD-6   Hyderabad

In [398]:
df_dim_products.head(3)

  product_code                  product_name           category
0          P01        Atliq_Masoor_Dal (1KG)  Grocery & Staples
1          P02  Atliq_Sonamasuri_Rice (10KG)  Grocery & Staples
2          P03       Atliq_Suflower_Oil (1L)  Grocery & Staples

In [399]:
df_dim_campaigns.head(3)

   campaign_id campaign_name  start_date    end_date
0  CAMP_DIW_01        Diwali  12-11-2023  18-11-2023
1  CAMP_SAN_01     Sankranti  10-01-2024  16-01-2024

1. The operations team wants to ensure the integrity of the events data by removing
duplicates. Check for and remove duplicate rows in the events dataframe based
on store_id, campaign_id, and product_code. How many duplicate rows were
removed?

In [400]:
df_fact_events.shape

(1510, 9)

In [401]:
df_fact_events.duplicated().sum()

10

In [402]:
df_fact_events = df_fact_events.drop_duplicates()

In [403]:
df_fact_events.shape

(1500, 9)

In [404]:
df_fact_events.duplicated().sum()

0

10 duplicate rows were removed.

2. How many cities have more than 5 stores?

In [405]:
df_dim_stores.head()

  store_id           city
0  STTRV-0     Trivandrum
1  STMDU-3        Madurai
2  STHYD-6      Hyderabad
3  STVSK-1  Visakhapatnam
4  STCBE-3     Coimbatore

In [406]:
city_count = df_dim_stores.groupby('city').size()
city_count

filtered_cities = city_count[city_count > 5]
filtered_cities

city
Bengaluru    10
Chennai       8
Hyderabad     7
dtype: int64

There are only 3 cities which have more than 5 stores.

3. The sales team has identified missing values in the quantity_sold(before_promo)
 data. Estimate these values using the median quantity sold before the promotion.
 How many missing values were filled, and what is the median used for
 imputation?

In [407]:
df_fact_events.isna().sum()

event_id                        0
store_id                        0
campaign_id                     0
product_code                    0
base_price(before_promo)        0
quantity_sold(before_promo)    20
promo_type                      0
base_price(after_promo)         0
quantity_sold(after_promo)      0
dtype: int64

In [408]:
df_fact_events['quantity_sold(before_promo)'].median()

78.0

In [409]:
df_fact_events[df_fact_events['quantity_sold(before_promo)'].isnull()]

,event_id,store_id,campaign_id,product_code,base_price(before_promo),quantity_sold(before_promo),promo_type,base_price(after_promo),quantity_sold(after_promo)
63,70c312,STHYD-4,CAMP_SAN_01,P13,350,NaN,BOGOF,175,534
119,d31787,STMYS-2,CAMP_SAN_01,P10,50,NaN,25% OFF,37,20
141,141d98,STCHE-4,CAMP_SAN_01,P03,200,NaN,BOGOF,100,1695
163,873333,STMLR-0,CAMP_DIW_01,P15,3000,NaN,500 Cashback,2500,509
341,2ef46d,STMDU-0,CAMP_DIW_01,P02,860,NaN,33% OFF,576,430
391,5372de,STCBE-3,CAMP_SAN_01,P10,50,NaN,25% OFF,37,22
558,77435f,STBLR-3,CAMP_SAN_01,P01,172,NaN,33% OFF,115,387
714,a1ef43,STTRV-1,CAMP_SAN_01,P12,62,NaN,50% OFF,31,38
745,95f061,STMYS-3,CAMP_SAN_01,P15,3000,NaN,500 Cashback,2500,443
758,5f313a,STCHE-2,CAMP_DIW_01,P10,65,NaN,50% OFF,32,135
924,e45c30,STMDU-1,CAMP_DIW_01,P06,415,NaN,25% OFF,311,63
967,7c8fd1,STMYS-3,CAMP_DIW_01,P15,3000,NaN,500 Cashback,2500,1472
1035,36968d,STMDU-1,CAMP_SAN_01,P02,860,NaN,33% OFF,576,404
1072,2e48c4,STVSK-0,CAMP_DIW_01,P09,110,NaN,50% OFF,55,76
1163,333b7d,STHYD-6,CAMP_DIW_01,P08,1190,NaN,BOGOF,595,166
1164,eb3bea,STVSK-2,CAMP_SAN_01,P15,3000,NaN,500 Cashback,2500,238
1196,86755e,STCHE-4,CAMP_SAN_01,P07,300,NaN,BOGOF,150,191
1247,daff65,STMLR-0,CAMP_DIW_01,P11,190,NaN,50% OFF,95,45
1419,19bc3b,STMDU-1,CAMP_DIW_01,P09,110,NaN,50% OFF,55,62
1507,2f0b42,STVSK-1,CAMP_SAN_01,P01,172,NaN,33% OFF,115,302

In [410]:
df_fact_events['quantity_sold(before_promo)']  = df_fact_events['quantity_sold(before_promo)'].fillna(df_fact_events['quantity_sold(before_promo)'].median())

In [411]:
df_fact_events.head(5)

,event_id,store_id,campaign_id,product_code,base_price(before_promo),quantity_sold(before_promo),promo_type,base_price(after_promo),quantity_sold(after_promo)
0,8481be,STCHE-1,CAMP_DIW_01,P04,290,327.0,25% OFF,217,287
1,20618e,STCHE-3,CAMP_SAN_01,P04,370,379.0,BOGOF,185,1622
2,f30579,STBLR-9,CAMP_DIW_01,P02,860,337.0,33% OFF,576,488
3,4f570c,STBLR-7,CAMP_DIW_01,P05,55,122.0,25% OFF,41,107
4,6d153f,STHYD-5,CAMP_SAN_01,P15,3000,122.0,500 Cashback,2500,272

In [412]:
#group_medians= df_fact_events.groupby(['store_id', 'product_code'])['quantity_sold(before_promo)'].transform('median')

In [413]:
#df_fact_events['quantity_sold(before_promo)']  = df_fact_events['quantity_sold(before_promo)'].fillna(group_medians)

In [414]:
df_fact_events.isna().sum()

event_id                       0
store_id                       0
campaign_id                    0
product_code                   0
base_price(before_promo)       0
quantity_sold(before_promo)    0
promo_type                     0
base_price(after_promo)        0
quantity_sold(after_promo)     0
dtype: int64

In [415]:
#df_fact_events[df_fact_events['quantity_sold(before_promo)'].isnull()]

In [416]:
#df_fact_events[(df_fact_events['store_id'] == 'STMYS-3') & (df_fact_events['product_code'] == 'P15')]

In [417]:
#df_fact_events['quantity_sold(before_promo)']  = df_fact_events['quantity_sold(before_promo)'].fillna(df_fact_events['quantity_sold(before_promo)'].median())

In [418]:
df_fact_events.isna().sum()

event_id                       0
store_id                       0
campaign_id                    0
product_code                   0
base_price(before_promo)       0
quantity_sold(before_promo)    0
promo_type                     0
base_price(after_promo)        0
quantity_sold(after_promo)     0
dtype: int64

20 missing values were imputed.

 4. Identify the product category with the lowest base price before the promotion.

In [419]:
df_events_products = pd.merge(df_fact_events, df_dim_products, on ='product_code')
df_events_products.head(3)

,event_id,store_id,campaign_id,product_code,base_price(before_promo),quantity_sold(before_promo),promo_type,base_price(after_promo),quantity_sold(after_promo),product_name,category
0,8481be,STCHE-1,CAMP_DIW_01,P04,290,327.0,25% OFF,217,287,Atliq_Farm_Chakki_Atta (1KG),Grocery & Staples
1,20618e,STCHE-3,CAMP_SAN_01,P04,370,379.0,BOGOF,185,1622,Atliq_Farm_Chakki_Atta (1KG),Grocery & Staples
2,f30579,STBLR-9,CAMP_DIW_01,P02,860,337.0,33% OFF,576,488,Atliq_Sonamasuri_Rice (10KG),Grocery & Staples

In [420]:
df_events_products.groupby('category')['base_price(before_promo)'].min()

category
Combo1               3000
Grocery & Staples     156
Home Appliances       350
Home Care              55
Personal Care          50
Name: base_price(before_promo), dtype: int64

Personal care is the product category with minimum base price of 50 before promo.

What is the total quantity sold after the promotion for the BOGOF promo type
 during the Diwali campaign?

In [421]:
filtered_df = df_fact_events[(df_fact_events['campaign_id'] == 'CAMP_DIW_01') & (df_fact_events['promo_type'] == 'BOGOF')]
filtered_df['quantity_sold(after_promo)'].sum()

34461

34461 quantity sold after promo during Diwali campaign with BOGOF promo type.

Which store recorded the highest quantity sold after the promotion during the
 Diwali campaign?

In [422]:
diwali_df =  df_fact_events[df_fact_events['campaign_id'] == 'CAMP_DIW_01']
store_quantity_sold = diwali_df.groupby('store_id')['quantity_sold(after_promo)'].sum()
store_quantity_sold.sort_values(ascending = False)

store_id
STCHE-4    5013
STBLR-7    4893
STBLR-6    4857
STMYS-1    4779
STCHE-7    4779
STBLR-0    4759
STCHE-3    4605
STHYD-0    4460
STCHE-6    4445
STBLR-4    4408
STBLR-8    4395
STBLR-3    4373
STMYS-3    4347
STHYD-5    4346
STHYD-3    4272
STHYD-2    4266
STHYD-4    4227
STBLR-5    4193
STBLR-9    4186
STBLR-2    4169
STHYD-6    4153
STBLR-1    4146
STMYS-2    4130
STCHE-0    4100
STCHE-2    4093
STCHE-5    4052
STHYD-1    3778
STCHE-1    3595
STMDU-0    3545
STMYS-0    3543
STCBE-0    3381
STMDU-1    3266
STCBE-2    3093
STVSK-1    3078
STCBE-3    3077
STMDU-3    3071
STVSK-0    3005
STMDU-2    2981
STCBE-1    2942
STVSK-4    2908
STCBE-4    2907
STVSK-2    2860
STVSK-3    2656
STVJD-0    2392
STVJD-1    2312
STTRV-0    2180
STMLR-1    2151
STMLR-2    2138
STTRV-1    2072
STMLR-0    2027
Name: quantity_sold(after_promo), dtype: int64

STCHE-4    5013 sold the highest.

Understand which campaigns had the most successful outcomes. Compare the
 total quantities sold before and after the promotions for the Sankranti and Diwali
 campaigns. Which campaign saw a greater increase in sales?

In [423]:
df_fact_events.head()

,event_id,store_id,campaign_id,product_code,base_price(before_promo),quantity_sold(before_promo),promo_type,base_price(after_promo),quantity_sold(after_promo)
0,8481be,STCHE-1,CAMP_DIW_01,P04,290,327.0,25% OFF,217,287
1,20618e,STCHE-3,CAMP_SAN_01,P04,370,379.0,BOGOF,185,1622
2,f30579,STBLR-9,CAMP_DIW_01,P02,860,337.0,33% OFF,576,488
3,4f570c,STBLR-7,CAMP_DIW_01,P05,55,122.0,25% OFF,41,107
4,6d153f,STHYD-5,CAMP_SAN_01,P15,3000,122.0,500 Cashback,2500,272

In [424]:
sankranti_df = df_fact_events[df_fact_events['campaign_id'] == 'CAMP_SAN_01']

In [425]:
sankranti_df.head(2)

,event_id,store_id,campaign_id,product_code,base_price(before_promo),quantity_sold(before_promo),promo_type,base_price(after_promo),quantity_sold(after_promo)
1,20618e,STCHE-3,CAMP_SAN_01,P04,370,379.0,BOGOF,185,1622
4,6d153f,STHYD-5,CAMP_SAN_01,P15,3000,122.0,500 Cashback,2500,272

In [426]:
sankranti_df['campaign_id'].unique()

array(['CAMP_SAN_01'], dtype=object)

In [427]:
total_san_bef_promo = sankranti_df['quantity_sold(before_promo)'].sum()
print(total_san_bef_promo)
total_san_aft_promo = sankranti_df['quantity_sold(after_promo)'].sum()
print(total_san_aft_promo)


pct_increase_san = (total_san_aft_promo - total_san_bef_promo) * 100 / total_san_bef_promo
print(pct_increase_san)
(total_san_aft_promo - total_san_bef_promo)

97894.0
252069
157.49177681982553

154175.0

In [428]:
diwali_df.head(2)

,event_id,store_id,campaign_id,product_code,base_price(before_promo),quantity_sold(before_promo),promo_type,base_price(after_promo),quantity_sold(after_promo)
0,8481be,STCHE-1,CAMP_DIW_01,P04,290,327.0,25% OFF,217,287
2,f30579,STBLR-9,CAMP_DIW_01,P02,860,337.0,33% OFF,576,488

Sankranti campaign had most effect.

8. Which product recorded the highest Incremental Revenue Percentage (IR%)
 during the Sankranti campaign? What is the IR% for this product?

In [429]:
df_fact_events.head()

,event_id,store_id,campaign_id,product_code,base_price(before_promo),quantity_sold(before_promo),promo_type,base_price(after_promo),quantity_sold(after_promo)
0,8481be,STCHE-1,CAMP_DIW_01,P04,290,327.0,25% OFF,217,287
1,20618e,STCHE-3,CAMP_SAN_01,P04,370,379.0,BOGOF,185,1622
2,f30579,STBLR-9,CAMP_DIW_01,P02,860,337.0,33% OFF,576,488
3,4f570c,STBLR-7,CAMP_DIW_01,P05,55,122.0,25% OFF,41,107
4,6d153f,STHYD-5,CAMP_SAN_01,P15,3000,122.0,500 Cashback,2500,272

In [430]:
df_fact_events['revenue_before_promo'] = df_fact_events['base_price(before_promo)'] * df_fact_events['quantity_sold(before_promo)']
df_fact_events['revenue_after_promo'] = df_fact_events['base_price(after_promo)'] * df_fact_events['quantity_sold(after_promo)']

In [431]:
df_sankranti = df_fact_events[df_fact_events['campaign_id'] == 'CAMP_SAN_01']

df_sankranti.groupby('product_code')['revenue_before_promo'].sum()
df_sankranti.groupby('product_code')['revenue_after_promo'].sum()

revenue_diff = (df_sankranti.groupby('product_code')['revenue_after_promo'].sum()
               )- (df_sankranti.groupby('product_code')['revenue_before_promo'].sum())

IR = round(revenue_diff * 100/ (df_sankranti.groupby('product_code')['revenue_before_promo'].sum()),2)
IR.sort_values(ascending= False)

product_code
P03    91.83
P15    91.71
P13    89.77
P14    87.91
P04    87.56
P08    87.03
P07    82.60
P01    -4.61
P02    -6.05
P11   -30.64
P12   -32.14
P09   -38.73
P06   -38.92
P05   -39.88
P10   -43.86
dtype: float64

 IR%(Incremental Revenue): IR% measures the percentage change in revenue
 after a promotion compared to the revenue before the promotion. It helps assess
 how effective a promotion was in driving revenue growth.

In [438]:
sankranti_product_df[sankranti_product_df['product_code'] == 'P03'].head(2)

,event_id,store_id,campaign_id,product_code,base_price(before_promo),quantity_sold(before_promo),promo_type,base_price(after_promo),quantity_sold(after_promo),revenue_before_promo,revenue_after_promo,revenue_diff,IR%,product_name,category
3,a7fecb,STBLR-1,CAMP_SAN_01,P03,200,361.0,BOGOF,100,963,72200.0,96300,24100.0,33.379501,Atliq_Suflower_Oil (1L),Grocery & Staples
7,e0ef00,STBLR-9,CAMP_SAN_01,P03,200,309.0,BOGOF,100,1226,61800.0,122600,60800.0,98.381877,Atliq_Suflower_Oil (1L),Grocery & Staples

Which store in Visakhapatnam recorded the lowest Incremental Sold Units
 Percentage (ISU%) during the Diwali campaign? What is the ISU% for that
 store?

 ISU%(Incremental Sold Units): ISU% calculates the percentage change in the
 number of units sold after a promotion compared to the units sold before the
 promotion. It indicates the effectiveness of a promotion in boosting sales volume

In [433]:
df_store_events = pd.merge(df_dim_stores, df_fact_events, on ='store_id')

In [434]:
df_store_events.head(3)

,store_id,city,event_id,campaign_id,product_code,base_price(before_promo),quantity_sold(before_promo),promo_type,base_price(after_promo),quantity_sold(after_promo),revenue_before_promo,revenue_after_promo
0,STTRV-0,Trivandrum,4236be,CAMP_SAN_01,P14,1020,70.0,BOGOF,510,280,71400.0,142800
1,STTRV-0,Trivandrum,e97ac0,CAMP_SAN_01,P12,62,22.0,50% OFF,31,30,1364.0,930
2,STTRV-0,Trivandrum,565a38,CAMP_SAN_01,P07,300,30.0,BOGOF,150,117,9000.0,17550

In [436]:
df_diwali = df_store_events[df_store_events['campaign_id'] == 'CAMP_DIW_01']
df_diwali.head(3)

,store_id,city,event_id,campaign_id,product_code,base_price(before_promo),quantity_sold(before_promo),promo_type,base_price(after_promo),quantity_sold(after_promo),revenue_before_promo,revenue_after_promo
5,STTRV-0,Trivandrum,0a45d8,CAMP_DIW_01,P02,860,196.0,33% OFF,576,303,168560.0,174528
6,STTRV-0,Trivandrum,aaea9e,CAMP_DIW_01,P10,65,68.0,50% OFF,32,93,4420.0,2976
7,STTRV-0,Trivandrum,c4db5b,CAMP_DIW_01,P01,172,164.0,33% OFF,115,236,28208.0,27140

In [437]:
df_diwali_vizag = df_diwali[df_diwali['city'] == 'Visakhapatnam']
df_diwali_vizag.head(3)

,store_id,city,event_id,campaign_id,product_code,base_price(before_promo),quantity_sold(before_promo),promo_type,base_price(after_promo),quantity_sold(after_promo),revenue_before_promo,revenue_after_promo
90,STVSK-1,Visakhapatnam,ba86f4,CAMP_DIW_01,P13,350,61.0,BOGOF,175,204,21350.0,35700
93,STVSK-1,Visakhapatnam,bcbc28,CAMP_DIW_01,P02,860,253.0,33% OFF,576,389,217580.0,224064
94,STVSK-1,Visakhapatnam,fd788c,CAMP_DIW_01,P11,190,43.0,50% OFF,95,58,8170.0,5510

In [439]:
df_diwali_vizag.groupby('store_id')['quantity_sold(before_promo)'].sum()

store_id
STVSK-0    1768.0
STVSK-1    1903.0
STVSK-2    1701.0
STVSK-3    1780.0
STVSK-4    1926.0
Name: quantity_sold(before_promo), dtype: float64

In [440]:
df_diwali_vizag.groupby('store_id')['quantity_sold(after_promo)'].sum()

store_id
STVSK-0    3005
STVSK-1    3078
STVSK-2    2860
STVSK-3    2656
STVSK-4    2908
Name: quantity_sold(after_promo), dtype: int64

In [442]:
diff_quantity = (df_diwali_vizag.groupby('store_id')['quantity_sold(after_promo)'].sum()) - (df_diwali_vizag.groupby('store_id')['quantity_sold(before_promo)'].sum())
diff_quantity

store_id
STVSK-0    1237.0
STVSK-1    1175.0
STVSK-2    1159.0
STVSK-3     876.0
STVSK-4     982.0
dtype: float64

In [447]:
ISU = diff_quantity * 100 / df_diwali_vizag.groupby('store_id')['quantity_sold(before_promo)'].sum()
print(ISU)
round(ISU.min(),2)

store_id
STVSK-0    69.966063
STVSK-1    61.744614
STVSK-2    68.136390
STVSK-3    49.213483
STVSK-4    50.986501
dtype: float64

49.21


Which promo type had both a negative Incremental Revenue Percentage (IR%) and Incremental Sold Units Percentage (ISU%) during the Sankranti campaign?

In [448]:
df_sankranti.groupby('product_code')['revenue_before_promo'].sum()
df_sankranti.groupby('product_code')['revenue_after_promo'].sum()

revenue_diff = (df_sankranti.groupby('promo_type')['revenue_after_promo'].sum()
               )- (df_sankranti.groupby('promo_type')['revenue_before_promo'].sum())

IR = round(revenue_diff * 100/ (df_sankranti.groupby('promo_type')['revenue_before_promo'].sum()),2)
IR.sort_values(ascending= False)

promo_type
500 Cashback    91.71
BOGOF           88.33
33% OFF         -5.90
50% OFF        -31.08
25% OFF        -39.33
dtype: float64

In [456]:
df_sankranti.groupby('promo_type')['quantity_sold(before_promo)'].sum()
df_sankranti.groupby('promo_type')['quantity_sold(after_promo)'].sum()

quantity_diff = (df_sankranti.groupby('promo_type')['quantity_sold(after_promo)'].sum()
               )- (df_sankranti.groupby('promo_type')['quantity_sold(before_promo)'].sum())

ISU = quantity_diff * 100 / df_sankranti.groupby('promo_type')['quantity_sold(before_promo)'].sum()
ISU

promo_type
25% OFF         -19.603090
33% OFF          41.146205
50% OFF          37.047854
500 Cashback    130.046339
BOGOF           278.044037
dtype: float64